
.gradle/6.7/executionHistory/executionHistory.bin
.gradle/6.7/executionHistory/executionHistory.lock
.gradle/6.7/fileChanges/last-build.bin
.gradle/6.7/fileHashes/fileHashes.bin
.gradle/6.7/fileHashes/fileHashes.lock
.gradle/6.7/gc.properties
.gradle/6.7/javaCompile/classAnalysis.bin
.gradle/6.7/javaCompile/javaCompile.lock
.gradle/6.7/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.gradle/configuration-cache/gc.properties
.gradle/vcs-1/gc.properties
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
build/classes/java/main/main.class
build/tmp/compileJava/source-classes-mapping.txt
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
